fastapi==0.109.0
uvicorn==0.25.0
python-multipart==0.0.6
vosk==0.3.45
llama-cpp-python==0.2.55
langchain==0.1.12
langchain-community==0.0.22
pydantic==2.6.0
sentence-transformers==2.7.0
chromadb==0.4.24
numpy==1.26.4
transformers==4.38.1
einops==0.8.0
torch==2.2.1
torchaudio==2.2.1
moviepy==1.0.3
python-dotenv==1.0.1
tiktoken==0.5.2 